<div class="position-relative">
	<div (mouseenter)="showTooltip=true; getDescription(descId)" (mouseleave)="showTooltip=false" class="ajax-tooltipster-">
		<ng-content></ng-content>
	</div>

	<div
	 	*ngIf=" ! loading"
		[ngClass]="{show: tooltipText && showTooltip}"
		class="tooltip-position opacity-animation-fade"
	>
		<div style="margin-top:2px">
			<div class="arrow_box tooltip-shadow" [sanitizeHtml]="tooltipText"></div>
		</div>
	</div>

    <div *ngIf="loading" class="loading-indicator-position opacity-animation-fade" [ngClass]="{show: showTooltip}">
        <loading-indicator></loading-indicator>
    </div>
</div>